<% include partials/header %>

<!-- Main landing page -->

<div class="container">
    <header>
        <h1 style="text-align: center; padding-bottom: 45px; padding-top: 50px; color: silver;">ENTRY MANAGEMENT SYSTEM</h1>
    </header> 
    <p>
        <!-- <a href="new" class="btn btn-success btn-large btn-block">Check-In</a> -->
        <a href="new"> <button id="cat" type="button" class="btn btn-outline-success btn-lg btn-block">CHECKIN</button></a>
    </p>   
    <p>
        <!-- <a href="out" class="btn btn-danger btn-large btn-block">Check-Out</a> -->
        <a href="out"><button id="dog" type="button" class="btn btn-outline-danger btn-lg btn-block">CHECKOUT</button></a>
    </p>   
</div>
<script>
        $(document).ready(function(){
        <% if (types == 1) { %>
            setTimeout(function () {
                $.notify({
                    icon: 'fa fa-check',
                    message: "<%= messages %>"
                }, {
                    type: "success",
                    placement: {
                        from: 'bottom'
                    },
                    delay: 4000
                });
            }, 1000);
            <% } %>
            <% if (types == 2) { %>
            console.log('<%= messages %>');
            setTimeout(function () {
                $.notify({
                    icon: 'fa fa-exclamation-triangle',
                    message: "<%= messages %>"
                }, {
                    type: 'danger',
                    placement: {
                        from: 'bottom'
                    },
                    delay: 4000
                });
            }, 1000);
            <% } %>
    });
</script>
<% include partials/footer %>